.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.btn:focus{
  outline: none;
  box-shadow: none;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.color-react{
  color: rgb(97, 218, 251);
}
footer{
  padding-top: 2em;
}
.logo-size{
  height: calc(2rem + 1.5vw);
  margin: 0px 5px 5px 5px;
}
.board {
	max-width: 25em;
	margin: auto;
}
.cell > img{
  width: 80%;
  /* for filters:
  https://codepen.io/sosuke/pen/Pjoqqp */
}

/* Animations */

.cell > .zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}
@keyframes zoomIn {
  0% {width: 0%;}
  50% {width: 100%;}
  100% {width: 80%;}
}
.cell > .zoomOut {
  animation-name: zoomOut;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}
@keyframes zoomOut {
  0% {width: 80%;}
  50% {width: 100%;}
  100% {width: 0%;}
}